body,html {
    font-family: Verdana,sans-serif;
    margin: 0;
    padding:0px;
    height:100%;
    color: #111;
    background-color: #FFF;
    padding-bottom: 1px;
}
/*-----------------------------------------------------------------------------*/
h1 {
    font-size: 1.1em;
    color: #474747;
    text-align: center;
    padding: 0px;
    margin: 0px;
    margin-bottom: 10px;
    text-shadow: rgba(0,0,0,.2) 2px 2px 1px;
    -moz-user-select: none;
    -webkit-user-select: none;
    cursor: default;
}
h4{
    color: red;
    font-size: 0.9em;    
    margin: 5px;
    cursor: default;
}

h5{
    font-size: 11pt;
    cursor: default;
}
/*-----------------------------------------------------------------------------*/
a {
    color: #005C00;
    text-decoration: none;
    -moz-user-select: none;
    -webkit-user-select: none;	
}
a:hover {
    color: #009000;
    /*text-decoration: underline;*/
    text-shadow: rgba(0,0,0,.5) 1px 1px 1px;
}

p {
    margin: 5px;
}
/*-----------------------------------------------------------------------------*/
/* Table */
table{    
    margin: 0 auto; /*firefox*/    
}

th {    
    padding: 10px;
    padding-bottom: 4px;
    font-size: 11pt;
    border-bottom: solid #000 1px;
    /*text-shadow: rgba(0,0,0,.2) 1px 1px 1px;*/
}
td {
    padding: 3px;
    font-size: 14px;
}
/*-----------------------------------------------------------------------------*/
#container {
    min-height:100%;    
    position: relative;    
}

#header{
    padding-top: 10px;
    padding-bottom: 10px;
}

#content{    
    text-align: center;
    padding:10px;
    padding-bottom:70px;   /* Height of the footer */    
    margin: 0 auto;
    margin-top: 25px;    
}
/*-----------------------------------------------------------------------------*/
input[type="button"] {  
    border:1px solid #A1AAAA;    
    -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;
    width:130px;
    font-size:13px;
    padding: 3px 4px 4px 4px;
    height: 26px;
    font-weight:bold;
    text-align: center; color: #404040; background-color: #F4F5F5;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#F4F5F5), to(#C6C3C3));
    background-image: -webkit-linear-gradient(top, #F4F5F5, #C6C3C3);
    background-image: -moz-linear-gradient(top, #F4F5F5, #C6C3C3);
    background-image: -ms-linear-gradient(top, #F4F5F5, #C6C3C3);
    background-image: -o-linear-gradient(top, #F4F5F5, #C6C3C3);
    background-image: linear-gradient(to bottom, #F4F5F5, #C6C3C3);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#F4F5F5, endColorstr=#C6C3C3);
}

input[type="button"]:hover {  
    border:1px solid #A5ACAC;
    background-color: #E7E9E9;
    cursor: pointer;
    color: #202020;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#E7E9E9), top(#B9B6B6));
    background-image: -webkit-linear-gradient(top, #E7E9E9, #B9B6B6);
    background-image: -moz-linear-gradient(top, #E7E9E9, #B9B6B6);
    background-image: -ms-linear-gradient(top, #E7E9E9, #B9B6B6);
    background-image: -o-linear-gradient(top, #E7E9E9, #B9B6B6);
    background-image: linear-gradient(to bottom, #E7E9E9, #B9B6B6);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#E7E9E9, endColorstr=#B9B6B6);
}
/*-----------------------------------------------------------------------------*/
input[type="submit"] {
    border:1px solid #A1AAAA;    
    -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;
    width:130px;
    font-size:13px;
    padding: 3px 4px 4px 4px;
    height: 26px;
    font-weight:bold;
    text-align: center; color: #404040; background-color: #F4F5F5;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#F4F5F5), to(#C6C3C3));
    background-image: -webkit-linear-gradient(top, #F4F5F5, #C6C3C3);
    background-image: -moz-linear-gradient(top, #F4F5F5, #C6C3C3);
    background-image: -ms-linear-gradient(top, #F4F5F5, #C6C3C3);
    background-image: -o-linear-gradient(top, #F4F5F5, #C6C3C3);
    background-image: linear-gradient(to bottom, #F4F5F5, #C6C3C3);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#F4F5F5, endColorstr=#C6C3C3);
}

input[type="submit"]:hover {  
    border:1px solid #A5ACAC;
    background-color: #E7E9E9;
    cursor: pointer;
    color: #202020;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#E7E9E9), top(#B9B6B6));
    background-image: -webkit-linear-gradient(top, #E7E9E9, #B9B6B6);
    background-image: -moz-linear-gradient(top, #E7E9E9, #B9B6B6);
    background-image: -ms-linear-gradient(top, #E7E9E9, #B9B6B6);
    background-image: -o-linear-gradient(top, #E7E9E9, #B9B6B6);
    background-image: linear-gradient(to bottom, #E7E9E9, #B9B6B6);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#E7E9E9, endColorstr=#B9B6B6);
}
/*-----------------------------------------------------------------------------*/
button {  
    border:1px solid #A1AAAA;    
    -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;
    width:130px;
    font-size:13px;
    padding: 3px 4px 4px 4px;
    height: 26px;
    font-weight:bold;
    text-align: center; color: #404040; background-color: #F4F5F5;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#F4F5F5), to(#C6C3C3));
    background-image: -webkit-linear-gradient(top, #F4F5F5, #C6C3C3);
    background-image: -moz-linear-gradient(top, #F4F5F5, #C6C3C3);
    background-image: -ms-linear-gradient(top, #F4F5F5, #C6C3C3);
    background-image: -o-linear-gradient(top, #F4F5F5, #C6C3C3);
    background-image: linear-gradient(to bottom, #F4F5F5, #C6C3C3);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#F4F5F5, endColorstr=#C6C3C3);
}

button:hover {  
    border:1px solid #A5ACAC;
    background-color: #E7E9E9;
    cursor: pointer;
    color: #202020;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#E7E9E9), top(#B9B6B6));
    background-image: -webkit-linear-gradient(top, #E7E9E9, #B9B6B6);
    background-image: -moz-linear-gradient(top, #E7E9E9, #B9B6B6);
    background-image: -ms-linear-gradient(top, #E7E9E9, #B9B6B6);
    background-image: -o-linear-gradient(top, #E7E9E9, #B9B6B6);
    background-image: linear-gradient(to bottom, #E7E9E9, #B9B6B6);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#E7E9E9, endColorstr=#B9B6B6);
}
/*-----------------------------------------------------------------------------*/
input[type="text"],input[type="password"],input[type="file"] {  
    border: #AAA solid 1px;
    color: #222;
    background-color: white;
    padding: 4px;    
}

input[type="text"]:hover{
    border: #888 solid 1px;    
    box-shadow:inset 0 0 2px #AAA;
    -moz-box-shadow:inset 0 0 2px #AAA;
    cursor: default;
}

input[type="text"]{
    text-transform: uppercase;
}

input[type="text"]:focus{
    border: darkorange solid 1px;
    box-shadow:inset 0 0 2px #888;
    -moz-box-shadow:inset 0 0 2px #888;
    cursor: text;
}

/*-----------------------------------------------------------------------------*/
input[type="password"]:hover{
    border: #888 solid 1px;
    box-shadow:inset 0 0 2px #AAA;
    -moz-box-shadow:inset 0 0 2px #AAA;
    cursor: default;
}

input[type="password"]:focus{
    border: darkorange solid 1px;
    box-shadow:inset 0 0 2px #888;
    -moz-box-shadow:inset 0 0 2px #888;
    cursor: text;
}

/*-----------------------------------------------------------------------------*/
textarea {  
    font-family: Verdana,sans-serif;
    font-size: 0.9em;
    border: #999 solid 1px;
    color: #222;
    background-color: white;
}

textarea:hover{
    border: #888 solid 1px;
    box-shadow:inset 0 0 2px #AAA;
    -moz-box-shadow:inset 0 0 2px #AAA;
    cursor: default;
}

textarea:focus{
    border: darkorange solid 1px;
    box-shadow:inset 0 0 2px #888;
    -moz-box-shadow:inset 0 0 2px #888;
    cursor: text;
}

/*-----------------------------------------------------------------------------*/
select {     
    padding: 3px;   
    border: 1px solid #AAA;
    background-color: white;
}

select:hover {
    border: #888 solid 1px;
    box-shadow:inset 0 0 2px #AAA;
    -moz-box-shadow:inset 0 0 2px #AAA;
}

select:focus {     
    border: darkorange solid 1px;
    box-shadow:inset 0 0 2px #888;
    -moz-box-shadow:inset 0 0 2px #888;
}
/*-----------------------------------------------------------------------------*/
#footer{    
    margin-top: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;   /* Height of the footer */
}

#footer_content{
    margin: 0 auto; /*firefox*/
    border-top: #AAA 1px dashed;
    padding: 0px;
    width: 650px;
    height: 30px;
}

#footer_img{    
    float: left;
    width: 125px;
    height: 27px;
    text-align: right;
    padding-top: 3px;
    margin: 0px
}

#footer_texto{

    float: right;
    width: 500px;
    height: 28px;
    padding-top: 2px;
    font-size: 0.56em;
    color: #666;
}

#footer_text{
    text-align: center;
    margin: 0 auto; /*firefox*/
    padding-top: 2px;
    font-size: 9px;
    color: #777;
    border-top: #AAA 1px solid;
    width: 800px;
}
/*-----------------------------------------------------------------------------*/
#voltar{
    position: absolute;
    bottom: 40px;    
    text-align: center;
    width: 100%;
    left: 0px;
    font-weight: bold;	
}

img{
    border: none;
}
/*-----------------------------------------------------------------------------*/
#pagination{
    padding-left: 30px;
    padding-right: 30px;
    /*padding-top: 3px;*/
    font-size: 14px;    
    margin: 15px auto; /*firefox*/    
    width: 500px;
    /*border-top: #CCC dashed 1px;*/
}

#pagination img{
    vertical-align: bottom;
}

#pagination a{
    color: #444;
    font-weight: bold;
}

#pagination a:hover{
    color: #000;
    text-shadow: rgba(0,0,0,.8) 1px 1px 1px;
}
/*-----------------------------------------------------------------------------*/
.campo_erro {
    background-color: #df4a4a;

}
/*-----------------------------------------------------------------------------*/
.menu_listar{
    margin-top: -3px;
    margin-bottom: -15px;
    color: #FFF;
    font-weight: bold;
    text-shadow: rgba(0,0,0,.8) 1px 1px 1px;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.menu_listar td{
    background-color: #7f7f7f;
    font-size: 11px;
    text-decoration: none;    
    border: none;
    padding: 5px;
    width: 150px;
    cursor: pointer;
}

.menu_listar td:hover{
    color: #CCC;
    font-size: 11px;
}

.menu_listar th{
    background-color: #505050;
    color: #EEE;
    font-size: 11px;
    border: none;
    padding: 5px;
    width: 150px;	
    box-shadow: rgba(0,0,0,.5) 0px 3px 3px;	
    cursor: default;
}
/*-----------------------------------------------------------------------------*/
#logo{
    margin-top: 10px;
    text-align: center;    
    margin:0 auto;    
}

#menu{
    position: absolute;
    z-index: 200;    
    width: 100%;
}

#nome_usuario{
    margin: 0px auto;
    width: 600px;
    padding-bottom: 0px;
    margin-top: -52px;    
}

.fonte_10{
    font-size: 10px;
    color: white;
    font-weight: bolder;
    text-shadow: rgba(0,0,0,1) 1px 1px 1px;
}

.UpperCase
{    
    text-transform: uppercase;
}

#waitScreen{
    position:absolute;  
    left: 50%;
    top: 40%;
    margin-top: -50px;
    margin-left: -250px;    
    width: 500px;    
    text-align: center;
    padding-bottom: 50px;
    padding-top: 50px;
    z-index:5;     
    display:none;   
    background-color: #CFCFCF;    
    font-size: 1.5em;
    border: 5px #B0B0B0 solid;
    border-bottom: 5px #606060 solid;
    border-right: 5px #606060 solid;
    filter:opacity(alpha=90); /* para o IE */
    -moz-opacity:0.9; /* para o FireFox */
    opacity:0.9; /* para o outros Navegadores */     
}
/*-----------------------------------------------------------------------------*/
#message{
    display: none;
    position: fixed;
    width: 100%;
    top: 0px;
    filter:opacity(alpha=90); /* para o IE */
    -moz-opacity:0.9; /* para o FireFox */
    opacity:0.9; /* para o outros Navegadores */    
}

#message p{    
    color: red;
    font-weight: bold;    
    background-color: #FDFAEC;
    border: #999 dashed 1px;
    border-top: none;
    margin: auto;
    display: table;
    padding: 5px 15px;    
}
/*-----------------------------------------------------------------------------*/
#benchmark{
    position: fixed;
    left: 0px;
    top: 0px;
    font-size: 0.6em;
    background-color: #F9F9F9;
    padding: 3px;
    border: #999 solid 1px;
}

#nome_sistema{
    position: absolute;
    right: 10px;
    top: 2px;
    font-size: 0.8em;
    font-weight: bold;
    color: white;
    text-shadow: rgba(0,0,0,1) 1px 1px 1px;
    text-align: right;
}
/*-----------------------------------------------------------------------------*/
.fundo_tabela {
    padding: 25px;
    border: #CCC solid 1px;
    margin-top: 10px;
    margin-bottom: 5px;
    box-shadow: rgba(0,0,0,.5) 3px 3px 3px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#FDFDFD), to(#E0E0E0));
    background-image: -webkit-linear-gradient(top, #FDFDFD, #E0E0E0);
    background-image: -moz-linear-gradient(top, #FDFDFD, #E0E0E0);
    background-image: -ms-linear-gradient(top, #FDFDFD, #E0E0E0);
    background-image: -o-linear-gradient(top, #FDFDFD, #E0E0E0);
    background-image: linear-gradient(to bottom, #FDFDFD, #E0E0E0);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#FDFDFD, endColorstr=#E0E0E0);    
}

.fundo_tabela th{
    cursor: default;
}

.fundo_tabela  input[type="submit"]{
    margin-top:20px;
}
/*-----------------------------------------------------------------------------*/
.borda_tabela{
    padding: 25px 50px 25px 50px;
    border: #CCC solid 1px;
    border-radius: 4px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: rgba(0,0,0,.5) 3px 3px 3px;
    cursor: default;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#FDFDFD), to(#E0E0E0));
    background-image: -webkit-linear-gradient(top, #FDFDFD, #E0E0E0);
    background-image: -moz-linear-gradient(top, #FDFDFD, #E0E0E0);
    background-image: -ms-linear-gradient(top, #FDFDFD, #E0E0E0);
    background-image: -o-linear-gradient(top, #FDFDFD, #E0E0E0);
    background-image: linear-gradient(to bottom, #FDFDFD, #E0E0E0);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#FDFDFD, endColorstr=#E0E0E0);    
}

.borda_tabela  input[type="submit"]{
    margin-top:20px;
}
/*-----------------------------------------------------------------------------*/
.tabela_filtro th{
    text-align: left;
    font-size: 8pt;
    font-weight: normal;
    border: none;
    padding: 0px 0px 0px 5px;
    margin: 0;
    cursor: default;
}

.tabela_filtro td{
    text-align: left;
    border: none;
    padding: 0px 0px 0px 5px;
}
/*-----------------------------------------------------------------------------*/
.tabela_login{
    border: #CCC solid 1px;
    padding: 50px 80px 50px 80px;
    margin: 50px auto;
    box-shadow: rgba(0,0,0,.5) 3px 3px 5px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#FDFDFD), to(#E0E0E0));
    background-image: -webkit-linear-gradient(top, #FDFDFD, #E0E0E0);
    background-image: -moz-linear-gradient(top, #FDFDFD, #E0E0E0);
    background-image: -ms-linear-gradient(top, #FDFDFD, #E0E0E0);
    background-image: -o-linear-gradient(top, #FDFDFD, #E0E0E0);
    background-image: linear-gradient(to bottom, #FDFDFD, #E0E0E0);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#FDFDFD, endColorstr=#E0E0E0);        
}

.tabela_login  input[type="submit"]{
    width: 80px;
}
/*-----------------------------------------------------------------------------*/
.highlight:hover{
    background-color: #D6D6D6;
    cursor: default;
}

.ordena:hover{
    color: #FF6600;
    cursor: pointer;
}
/*-----------------------------------------------------------------------------*/
.zend_form{
    padding: 25px;
    border: #CCC solid 1px;
    margin-top: 10px;
    margin-bottom: 5px;
    box-shadow: rgba(0,0,0,.5) 3px 3px 3px;
    min-width: 400px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#FDFDFD), to(#E0E0E0));
    background-image: -webkit-linear-gradient(top, #FDFDFD, #E0E0E0);
    background-image: -moz-linear-gradient(top, #FDFDFD, #E0E0E0);
    background-image: -ms-linear-gradient(top, #FDFDFD, #E0E0E0);
    background-image: -o-linear-gradient(top, #FDFDFD, #E0E0E0);
    background-image: linear-gradient(to bottom, #FDFDFD, #E0E0E0);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#FDFDFD, endColorstr=#E0E0E0);
}

.zend_form th{
    font-size: 14px;
    border: none;
    font-weight: normal;
    text-align: right;
    vertical-align: top;
    padding-right: 0px;
}

.zend_form td{
    vertical-align: bottom;
}

.zend_form .element{
    font-size: 12pt;
    text-align: left;
}
/*-----------------------------------------------------------------------------*/
.required:before{
    /*content: '';*/
}

.errors{
    margin-top: 2px;
    margin-left: 10px;
    padding-left: 0px;
    padding-right: 5px;
    font-size: 8pt;
    color: red;    
}
/*-----------------------------------------------------------------------------*/
.form-errors{
    width: 350px;
    margin: 0 auto;        
    font-size: 10pt;
    border: #999 dashed 1px;    
    padding: 10px;    
    text-align: left;
}

.form-errors li{
    margin-left: 20px;
}

.form-errors:before{
    content: 'Não foi possível validar um ou mais campos:';
    font-size: 14px;
    color: #004000;
    font-weight: bold;
}
/*-----------------------------------------------------------------------------*/
.zend_form input[type="submit"]{
    margin-top:20px;    
}

.zend_form .hint{
    font-size: 14px;
}
/*----------------------------------------------------------------------------*/
.listar {
    min-width: 500px;
    /*padding: 15px 30px 15px 30px;*/
    padding: 1px;
    border: #CCC solid 1px;
    background-color: #F6F6F6;
    margin-top: 10px;
    margin-bottom: 5px;
    box-shadow: rgba(0,0,0,.6) 3px 3px 3px;    
}

.listar th{
    cursor: default;
    background-color: #404040;
    color: white;
    height: 10px;
    padding: 5px 8px 5px 8px;    
    border: none;
    font-size: 0.8em;
}

.listar td{    
    padding: 3px 7px 3px 7px;
    font-size: 0.8em;
}

.listar input[type="submit"]{
    margin-top:20px;
}

.listar tr:nth-child(even) {
    background-color: #E3E3E3;    
}

.listar tr:hover{
    background-color: #C6C6C6;
    cursor: default;
    color: #000;
}

.listar tr:first-child {
    background-color: #F6F6F6;
}
/*-----------------------------------------------------------------------------*/
#breadcrumb{
    position: absolute;
    top: 100px;
    font-size: 12px;
}
/*----------------------------------------------------------------------------*/
#confirm-delete{
    margin: 0 auto;
    text-align: center;    
    padding-top: 30px;
    padding-bottom: 30px;
    border: #CCC 1px dashed;
    border-top: none;
}

#confirm-delete a{    
    display: inline-block;    
    margin: 5px;    
    border:1px solid #A1AAAA;    
    -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;
    width:130px;
    font-size:13px;
    padding: 3px 4px 4px 4px;
    font-weight:bold;
    text-align: center; color: #404040; background-color: #F4F5F5;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#F4F5F5), to(#C6C3C3));
    background-image: -webkit-linear-gradient(top, #F4F5F5, #C6C3C3);
    background-image: -moz-linear-gradient(top, #F4F5F5, #C6C3C3);
    background-image: -ms-linear-gradient(top, #F4F5F5, #C6C3C3);
    background-image: -o-linear-gradient(top, #F4F5F5, #C6C3C3);
    background-image: linear-gradient(to bottom, #F4F5F5, #C6C3C3);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#F4F5F5, endColorstr=#C6C3C3);
}

#confirm-delete a:hover {
    cursor: pointer;
    border:1px solid #A5ACAC;
    background-color: #E7E9E9;
    cursor: pointer;
    color: #202020;
    text-shadow: none;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#E7E9E9), top(#B9B6B6));
    background-image: -webkit-linear-gradient(top, #E7E9E9, #B9B6B6);
    background-image: -moz-linear-gradient(top, #E7E9E9, #B9B6B6);
    background-image: -ms-linear-gradient(top, #E7E9E9, #B9B6B6);
    background-image: -o-linear-gradient(top, #E7E9E9, #B9B6B6);
    background-image: linear-gradient(to bottom, #E7E9E9, #B9B6B6);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#E7E9E9, endColorstr=#B9B6B6);
}
/*----------------------------------------------------------------------------*/

.botao{
    display: inline-block;    
    margin: 5px;    
    border:1px solid #A1AAAA;    
    -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;
    width:130px;
    font-size:13px;
    padding: 4px 5px 5px 5px;
    font-weight:bold;
    text-align: center; color: #404040; background-color: #F4F5F5;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#F4F5F5), to(#C6C3C3));
    background-image: -webkit-linear-gradient(top, #F4F5F5, #C6C3C3);
    background-image: -moz-linear-gradient(top, #F4F5F5, #C6C3C3);
    background-image: -ms-linear-gradient(top, #F4F5F5, #C6C3C3);
    background-image: -o-linear-gradient(top, #F4F5F5, #C6C3C3);
    background-image: linear-gradient(to bottom, #F4F5F5, #C6C3C3);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#F4F5F5, endColorstr=#C6C3C3);
}

.botao:hover{
    cursor: pointer;
    border:1px solid #A5ACAC;
    background-color: #E7E9E9;
    cursor: pointer;
    color: #202020;
    text-shadow: none;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#E7E9E9), top(#B9B6B6));
    background-image: -webkit-linear-gradient(top, #E7E9E9, #B9B6B6);
    background-image: -moz-linear-gradient(top, #E7E9E9, #B9B6B6);
    background-image: -ms-linear-gradient(top, #E7E9E9, #B9B6B6);
    background-image: -o-linear-gradient(top, #E7E9E9, #B9B6B6);
    background-image: linear-gradient(to bottom, #E7E9E9, #B9B6B6);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#E7E9E9, endColorstr=#B9B6B6);
}